body {font-family: Monospace;
	padding-top: 140px; 
}
/*this use padding to help content not being cut by nav bar */

#nav-bar, header { position: fixed;
top: 0;
left: 0; width: 100%;
}
header {
  display: block;
  padding: 10px;
  background-color: #d4f3ef;
}
h1 {
font-family: "Snell Roundhand";
text-align: center;
}


/* style for home Shop community */
ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #709fb0;
} 
li {
float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

/* display for the Shop flexbox */

.shop-container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
}

.shop-container > div {
  background-color: #726a95;
  width: 300px;
  margin: 3px;
  text-align: center;
  line-height: 10px;
  font-size: 10px;
}

.video-container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
  margin: 30px;
}
 
/* for form */
.join-form {text-align: center;
font-weight: bold;
font-size: 20px;
}


/* for forum */

@media screen and (max-width: 600px) {
  .column {
	width: 100%;
  }
}

.form {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0 0 50px 0;
	
}
/* to make striped table */
tr:nth-child(even) {
  background-color: #def4f0;
}
.points {
  layout-table: fixed;
  width: 100%;
  border-collapse: collapse;
}
.points tr th {
  text-align: left;
}
.points, td {
  padding: 15px 20px;
}

iframe{
border:40px solid white;
}
